* @shieldedtech/shielded-security
/.github/ISSUE_TEMPLATE/ @shieldedtech/shielded-security @shieldedtech/shielded-sre
/.github/PULL_REQUEST_TEMPLATE/ @shieldedtech/shielded-security @shieldedtech/shielded-sre
/.github/workflows/scan.yaml @shieldedtech/shielded-security @shieldedtech/shielded-sre
/.github/workflows/dependabot.yml @shieldedtech/shielded-security @shieldedtech/shielded-sre
CODE_OF_CONDUCT.md @shieldedtech/shielded-security @shieldedtech/shielded-sre
CODEOWNERS @shieldedtech/shielded-security @shieldedtech/shielded-sre
CONTRIBUTING.md @shieldedtech/shielded-security @shieldedtech/shielded-sre
LICENSE @shieldedtech/shielded-security @shieldedtech/shielded-sre
SECURITY.md @shieldedtech/shielded-security @shieldedtech/shielded-sre
